nav a {
    color: white;
    text-decoration: none;
    padding: 0.2rem;
    margin: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(40, 141, 207, 0.8);
    text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

a:hover,
a:active {
    background-color: #4b7bec;
    text-decoration: underline;
}

html {
    background-image: url(dino.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.satisfaction {
    background-color: rgb(255, 255, 255, 0.6);
    text-align: center;
}

.satisfaction img {
    width: 60px;
}